body {
  background: #f8e8a6;
}

h1 {
  text-align: center;
}

p {
  text-align: center;
}

img {
  display: block;
  width: 500px;
  height: auto;
  margin: 20px auto;
}

.menu-container {
  text-align: center;
}

a.menu {
  margin: 0 10px;
  color: green;
}
